<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
			<script>
				MathJax = {
					tex: {
						inlineMath: [['$', '$'], ['\\(', '\\)']],
						processEnvironments: true,
						tags: 'all',
						tagSide: 'left'
					}
				};
			</script>
			<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:saffetgokcen@gmail.com">email</a></li>
	        		<li><a href="https://github.com/SaffetGokcenSen">github.com/SaffetGokcenSen</a></li>
				</ul>
			</footer>
		</body>
	</html>
